---
layout: base.njk
title: Tags
description: Tomo's Diaryのタグ一覧。記事をカテゴリ別に整理して探すことができます。
---

<h2>すべてのタグ</h2>
<ul>
{%- for tag in collections.tagList -%}
  <li><a href="/tags/{{ tag | slug }}/">{{ tag }}</a> ({{ collections[tag].length }})</li>
{%- endfor -%}
</ul>